In [1]:
# Dependencies 
import requests
import json
import pandas as pd
from census import Census


# Census API Key
from api_key import my_key
c = Census(my_key, year=2016)

In [2]:
# Run Census Search to retrieve data on all zip codes (2016 ACS5 Census)
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B02001_002E",
                          "B02001_003E", "B02001_004E", "B02001_005E",
                          "B02001_006E","B02001_008E", "B03001_003E", "B01002_001E", 
                          "B01002_002E","B01002_003E"), 
                          {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)

In [3]:
census_pd.head()

,B01002_001E,B01002_002E,B01002_003E,B01003_001E,B02001_002E,B02001_003E,B02001_004E,B02001_005E,B02001_006E,B02001_008E,B03001_003E,B19013_001E,NAME,zip code tabulation area
0,45.0,41.6,48.1,17423.0,15974.0,256.0,5.0,703.0,24.0,184.0,1314.0,56714.0,ZCTA5 01001,01001
1,23.2,23.3,23.2,29970.0,23459.0,1711.0,140.0,3502.0,17.0,911.0,1870.0,48923.0,ZCTA5 01002,01002
2,19.9,19.9,19.9,11296.0,8698.0,660.0,30.0,1538.0,0.0,240.0,526.0,2499.0,ZCTA5 01003,01003
3,44.1,41.6,47.4,5228.0,5063.0,105.0,0.0,32.0,18.0,8.0,77.0,70568.0,ZCTA5 01005,01005
4,42.5,40.2,43.8,14888.0,13906.0,125.0,0.0,443.0,0.0,380.0,305.0,80502.0,ZCTA5 01007,01007

In [4]:
# Column Reordering
census_pd = census_pd.rename(columns={"B19013_001E": "Income" , 
                                      "B01003_001E": "Population", 
                                      "B02001_002E": "Population White",
                                      "B02001_003E": "Population Black",
                                      "B02001_004E": "Population American Indian", 
                                      "B02001_005E": "Population Asian",
                                      "B02001_006E": "Population Hawaiian",
                                      "B02001_008E": "Population 2 or more Races", 
                                      "B03001_003E": "Population Hispanic", 
                                      "B01002_001E": "Age", 
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "NAME": "Name", "zip code tabulation area": "Zipcode"})

    
                      

# Final DataFrame
census_pd = census_pd[["Zipcode","Income",  "Population","Population White",  
                                    "Population White",
                                    "Population Black",
                                    "Population American Indian", 
                                    "Population Asian",
                                    "Population Hawaiian",
                                    "Population 2 or more Races", 
                                    "Population Hispanic", 
                                    "Age", 
                                    "Median Male Age",
                                    "Median Female Age"
                                   ]]

# Visualize
print(len(census_pd))
census_pd.head()

33120

,Zipcode,Income,Population,Population White,Population White,Population Black,Population American Indian,Population Asian,Population Hawaiian,Population 2 or more Races,Population Hispanic,Age,Median Male Age,Median Female Age
0,01001,56714.0,17423.0,15974.0,15974.0,256.0,5.0,703.0,24.0,184.0,1314.0,45.0,41.6,48.1
1,01002,48923.0,29970.0,23459.0,23459.0,1711.0,140.0,3502.0,17.0,911.0,1870.0,23.2,23.3,23.2
2,01003,2499.0,11296.0,8698.0,8698.0,660.0,30.0,1538.0,0.0,240.0,526.0,19.9,19.9,19.9
3,01005,70568.0,5228.0,5063.0,5063.0,105.0,0.0,32.0,18.0,8.0,77.0,44.1,41.6,47.4
4,01007,80502.0,14888.0,13906.0,13906.0,125.0,0.0,443.0,0.0,380.0,305.0,42.5,40.2,43.8

In [5]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)